*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: "fuenteBravada" ;
    src: url(./Fuentes/bravada-arma.ttf);
}


body{
    font-family: 'fuenteBravada', sans-serif ;
    height: 100%;
    
}
#carouselExampleControls{
    height:100vh;
    width: 100vw;
}



div div img{
    height: 700px;
    width: 500px;
}

.main-flex{
    margin: 10px;
    padding: 20px;
    height: 100vh;
    width: 100vw;
} 

 main div img{
    height: 60vh;
    width: 100vw;
}
.temporada{
    display: flex;
    justify-content: center;
    padding: 3px;
    margin: 40px;
}

.section-flex{
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between; 
    padding: 50px; 
}

section div img{
    height: 400px;
    width: 400px;
    border:solid #800004 1px;
    
}




footer{
    background-color:#800004;
    color:black;
    text-align: center;
    width: 100%;
    padding: 25px ;
    position:relative;
    bottom: 0;
    border-top:solid black 1px;
    font-family: 'fuenteBravada', sans-serif ;
}

footer li{
    display: inline-block;
}

.footer-flex{
    display: flex;
    justify-content: center;   
}

