*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: "fuenteBravada" ;
    src: url(./Fuentes/bravada-arma.ttf);
}


body{
    font-family: 'fuenteBravada', sans-serif ;
    height: 100%; 
}

.header-flex{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: black;
}
header h1{
    color: white;
    font-size: 70px;
}

main{
    height: 100vh;
}

main h2{
    background-color:white;
    font-size: 35px; 
    text-align: center;
    color: #000000;
    border: double #800004 4px;
    padding: 10px;
    margin: 20px;
}


#main-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px ;
    padding: 25px;
    
}

main div img{
    height: 200px;
    width: 200px;
    border:solid #800004 1px;
    
}

 .navbar-brand{
    font-size: 30px;
   
}

.navbar{
    font-size: 30px;
    
}
 .navbar a{
    color: #ffffff;
 } 




footer{
    background-color:#800004;
    color:black;
    text-align: center;
    width: 100%;
    padding:10px ;
    position:relative;
    bottom: 0;
    border-top:solid black 1px;
    font-family: 'fuenteBravada', sans-serif ;
}

footer li{
    display: inline-block;
}

.footer-flex{
    display: flex;
    justify-content: center;   
}

